/*
Arquivo: custom.css
Autor: Maestro
Descrição: 
    Tema para a app Exemplos, distribuída com o Maestro.
    Define customizações de estilos definidos previamente.
Version: 2.0
Licença: GNU General Public License
Licença URI: license.txt
*/

.panel-body::before, .panel-body::after {
    content:"";
    display:block;
}

.fa16px {
    font-size: 16px;
    color: #428bca;    
}

