<form id="formReverseMySQL">
    <div id="dbContainer">
        <input class="easyui-textbox" placeholder="Conf DB" style="width:300px">
        OU
        <input class="easyui-textbox" data-options="text:'Host'" style="width:300px">
        <input class="easyui-textbox" data-options="text:'DB Name'" style="width:300px">
        <input class="easyui-textbox" data-options="text:'User'" style="width:300px">
        <input class="easyui-textbox" data-options="text:'Password'" type="password" style="width:300px">
    </div>
</form>