/******************************************************************************
 * Icons and Images
 ******************************************************************************/

.fnbrIconForm {
    width:16px;
    height:16px;
    background: url(../images/16x16/form.png) no-repeat center center;;
}

.fnbrIconRefresh {
    width:32px;
    height:32px;
    background-image: url(../images/copa/btn_refresh.png);
    position:absolute;
    left: 50%;
    margin-left: -70px;
    top: 32px;
    z-index: 999;
}

.fnbrIconReturn {
    width:32px;
    height:32px;
    background-image: url(../images/copa/btn_return.png);
    position:absolute;
    left: 50%;
    margin-left: 23px;
    top: 32px;
    z-index: 999;
}

.fnbrFlagPt {
    width:16px;
    height:12px;
    background: url(../images/br.png) no-repeat center center;;
}

.fnbrFlagEn {
    width:16px;
    height:12px;
    background: url(../images/en.png) no-repeat center center;;
}

.fnbrFlagFr {
    width:16px;
    height:12px;
    background: url(../images/fr.png) no-repeat center center;;
}

.fnbrFlagEs {
    width:16px;
    height:12px;
    background: url(../images/es.png) no-repeat center center;;
}
