.idea
vendor
.svn
apps/siga/vendor/codeception/aspect-mock/.gitignore
apps/siga/vendor/codeception/aspect-mock/tests/_log/.gitignore
apps/siga/vendor/doctrine/instantiator/.gitignore
apps/siga/vendor/fresque/fresque/.gitignore
apps/siga/vendor/goaop/framework/.gitignore
apps/siga/vendor/jakubledl/dissect/.gitignore
apps/siga/vendor/kamisama/php-resque-ex/.gitignore
apps/siga/vendor/myclabs/deep-copy/.gitignore
apps/siga/vendor/phake/phake/.gitignore
apps/siga/vendor/phpdocumentor/reflection-common/.gitignore
apps/siga/vendor/phpdocumentor/reflection-docblock/.gitignore
apps/siga/vendor/phpdocumentor/type-resolver/.gitignore
apps/siga/vendor/phpspec/prophecy/.gitignore
apps/siga/vendor/phpunit/php-code-coverage/.gitignore
apps/siga/vendor/phpunit/php-file-iterator/.gitignore
apps/siga/vendor/phpunit/php-text-template/.gitignore
apps/siga/vendor/phpunit/php-timer/.gitignore
apps/siga/vendor/phpunit/php-token-stream/.gitignore
apps/siga/vendor/phpunit/phpunit-mock-objects/.gitignore
apps/siga/vendor/phpunit/phpunit-skeleton-generator/.gitignore
apps/siga/vendor/phpunit/phpunit/.gitignore
apps/siga/vendor/psr/log/.gitignore
apps/siga/vendor/sebastian/code-unit-reverse-lookup/.gitignore
apps/siga/vendor/sebastian/comparator/.gitignore
apps/siga/vendor/sebastian/diff/.gitignore
apps/siga/vendor/sebastian/environment/.gitignore
apps/siga/vendor/sebastian/exporter/.gitignore
apps/siga/vendor/sebastian/global-state/.gitignore
apps/siga/vendor/sebastian/recursion-context/.gitignore
apps/siga/vendor/sebastian/resource-operations/.gitignore
apps/siga/vendor/sebastian/version/.gitignore
apps/siga/vendor/swiftmailer/swiftmailer/.gitignore
apps/siga/vendor/symfony/console/.gitignore
apps/siga/vendor/symfony/finder/.gitignore
apps/siga/vendor/symfony/translation/.gitignore
apps/siga/vendor/symfony/yaml/.gitignore
apps/siga/vendor/webmozart/assert/.gitignore
apps/siga/vendor/zetacomponents/base/.gitignore
apps/siga/vendor/zetacomponents/console-tools/.gitignore
