<div id="structureLayout" style="width:100%;height:100%;">
    <div id="structureNorthPane" data-options="collapsible:false, region:'north', title:'{{_'User'}}'" style="height:60px">
        <div style="float:left;padding:5px">
            <input id="name" name="name" type="text" style="width:200px; padding:5px" placeholder="{{_'Search'}}">
        </div>
    </div>
    <div id="structureLeftPane" region="west" split="true" style="height: 100%">
        <ul id="tree"></ul>
    </div>
    <div id="structureCenterPane" region="center" style="height: 100%">
        
    </div>
</div>
<div id="menuRoot" style="display:none, width:120px;">
    <div onclick="structure.reload()" data-options="iconCls:'icon-reload'">{{_'Reload'}}</div>
    <div onclick="structure.new()" data-options="iconCls:'icon-add'">{{_'New'}}</div>
    <div onclick="structure.grid()" data-options="iconCls:'icon-add'">{{_'Grid'}}</div>
</div>
<div id="menuMain" style="display:none, width:120px;">
    <div onclick="structure.edit()" data-options="iconCls:'icon-edit'">{{_'Edit'}}</div>
    <div onclick="structure.delete()" data-options="iconCls:'icon-remove'">{{_'Delete'}}</div>
</div>

<script type="text/javascript">
    var structure = {
        node: null
    };
    $(function () {
        $('#structureLayout').layout();

        structure.new = function () {
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('ddd/user/formNew')}},'structureCenterPane');
        }

        structure.edit = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('ddd/user/formUpdate')}} + '/' + id,'structureCenterPane');
        }
        
        structure.delete = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('ddd/user/formDelete')}} + '/' + id,'structureCenterPane');
        }

        structure.grid = function () {
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('ddd/user/grid')}},'structureCenterPane');
        }

        structure.reload = function () {
            $('#structureCenterPane').html('');
            var node = $('#tree').tree('getSelected');
            if (node) {
                $('#tree').tree('reload', node.target);
            }
        }

        structure.reloadParent = function () {
            $('#structureCenterPane').html('');
            var node = $('#tree').tree('getSelected');
            var parent = $('#tree').tree('getParent', node.target);
            if (node) {
                $('#tree').tree('reload', parent.target);
            }
        }

        structure.show = function () {
        }

        structure.contextMenu = function(e, node) {
            e.preventDefault();
            structure.node = node;
            console.log(node);
            var $menu = '';
            $(this).tree('select',node.target);
            if (node.id == 'root') {
                $menu = $('#menuRoot');
            } else if (node.id.charAt(0) == 'n') {
                $menu = $('#menuMain');
            }
            if ($menu != '') {
                $menu.menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        }

        $('#menuRoot').menu({});
        $('#menuMain').menu({});

        $('#name').textbox({
            buttonIcon: 'icon-search',
            iconAlign:'right',
            prompt: {{_'Search'}},
            onClickButton: function() {
                $('#tree').tree({queryParams: {name: $('#name').textbox('getValue')}});
            }
        });
        $('#tree').tree({
            url: {{$manager->getURL('ddd/user/tree')}},
            onSelect: function (node) {
                console.log(node);
                if (node.id.charAt(0) == 'n') {
                    structure.show(node.id.substr(1));
                }
            },
            onContextMenu: structure.contextMenu
        });
    });
</script>
