<div class="reportFrame">
    <div class="frameName">
        {{$data->frame->entry->name|noescape}}
    </div>
    <div class="divPanel">
        <div id="panelDefinition" class="easyui-panel" title="{{_'repDefinition'}}" collapsible="false" data-options="fit:true"  style="width:100%;">
            <div class="text">
                {{$data->frame->entry->description|noescape}}
            </div>
        </div>
    </div>
    <div class="divPanel">
        <div id="panelExample" class="easyui-panel" title={{_'repExample'}} collapsible="true" style="width:100%;">
            <div class="example">
            </div>
        </div>
    </div>
    <div class="divPanel">

        <div id="panelFeNuclear" class="easyui-panel" title={{_'repNFE'}} collapsible="false" data-options="fit:true">
            <table id="feNuclear" class="frameElement">
                <tbody>
                    {{foreach $data->fe['core'] as $fe}}
                        <tr>
                            <td class="fe"><span class="fe_{{$fe['lower']|noescape}}">{{$fe['name']}} [{{$fe['nick']}}]</span></td>
                            <td class="fedef">{{$fe['description']|noescape}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="example">
                            </td>
                        </tr>
                        <tr>
                            <td class="fespace">
                            </td>
                        </tr>
                    {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="divPanel">
        <div id="panelFeNonNuclear" class="easyui-panel" title={{_'repNNFE'}} collapsible="true" style="width:100%;">
            <table id="feNonNuclear" class="frameElement">
                <tbody>
                    {{foreach $data->fe['noncore'] as $fe}}
                        <tr>
                            <td class="fe"><span class="fe_{{$fe['lower']|noescape}}">{{$fe['name']}} [{{$fe['nick']}}]</span></td>
                            <td class="fedef">{{$fe['description']|noescape}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="example">
                            </td>
                        </tr>
                        <tr>
                            <td class="fespace">
                            </td>
                        </tr>
                    {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="divPanel">
        <div id="panelRelations" class="easyui-panel" title={{_'repRelations'}} collapsible="true" style="width:100%;">
            <table class="tableRelations">
                <tbody>
                    {{foreach $data->relations as $name => $frames}}
                        <tr>
                            <td class="relation">{{_$name}}</td>
                            <td>{{$frames}}</td>
                        </tr>
                        <tr>
                            <td class="fespace">
                            </td>
                        </tr>
                    {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
    <!--
    <div class="divPanel panel-noscroll">

        <div id="lus" class="easyui-tabs">
            <div title={{_'repLU'}} class="tabLu">
                <table class="tableLus">
                    <tbody>
                        <tr>
                            <td>cumprir.v</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>dever.v</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>fundamental.a</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>imprescindível.a</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>obrigar.v</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>obrigatório.a</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                        <tr>
                            <td>vital.v</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div title={{_'repCU'}} class="tabLu">
                <table class="tableUcs">
                    <tbody>
                        <tr>
                            <td>Modal_deôntica_ser</td>
                            <td>Entrada Lexical</td>
                            <td>Anotação</td>
                            <td>Status</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    -->
</div>
<div id="windowGrapher" class="easyui-window" title="Grapher"  data-options="closed:true">
</div>

<script type="text/javascript">
    report.frame = {
    }

    $.parser.parse();
            $('#panelFeNonNuclear').panel('collapse');
            $('#panelExample').panel('collapse');
            $('#panelRelations').panel('collapse');
            $('#windowGrapher').css('visible', false);
            $('#windowGrapher').window({
    title: 'Grapher',
            width: 1000,
            height: 750,
            closed: true,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            cache: false,
            modal: true
    });
            $('#linkGrapher').click(function () {
    //$('#windowGrapher').load('/maestro/index.php/fnbr20/report/grapher');
    //$('#windowGrapher').window('open');
    //$('#windowGrapher').window('center');
    $('#centerPane').html('');
            $('#centerPane').load('/maestro/index.php/fnbr20/report/grapher');
    });
            $('#langEn').click(function () {
    $('#windowGrapher').window('close');
            showReport({{$data->frameName}}, 'en');
    });
            $('#langPt').click(function () {
    $('#windowGrapher').window('close');
            showReport({{$data->frameName}}, 'pt');
    });
</script>
<style type="text/css">
    .fe_target {
        color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); text-transform:uppercase;
    }
    {{foreach $data->fe['styles'] as $style}}
    .fe_{{$style['fe']|noescape}} {color: #{{$style['rgbFg']}}; background-color: #{{$style['rgbBg']}};}  
    {{/foreach}}

</style>