<table id="layers" style="width:100%;height: 100%">
</table>

<form id="formLayers" method="post" action={{$manager->getURL('fnbr20/annotation/main/putLayers')}}>
    <input type="hidden" id="dataLayers" name="dataLayers" value=""/>
</form>

<div id="dlgValidation" title="Disapprove: Send Feedback" style="width:280px;height:200px;padding:0px">
    <form id="formValidation" method="post" action={{$manager->getURL('fnbr20/annotation/main/validation')}}>
        <input type="hidden" id="validation" name="validation" value=""/>
        <input type="hidden" id="annotationSets" name="annotationSets" value=""/>
        <div class="mFormContainer">
            <div class="mFormRow">
                <span>Message (optional):</span>
            </div>
            <div class="mFormRow">
                <input type="text" id="feedback" name="feedback" value=""/>
            </div>
        </div>
    </form>
</div>

<div id="dlgNI" title="Instantiation Type" style="width:280px;height:200px;padding:0px">
 <table id="pg" style="width:100%;height: 100%"></table>
</div>

{{if ($data->isMaster)}}
<div id="dlgAS" title="Hide Annotation Sets" style="width:280px;height:200px;padding:0px">
    <table id="asGrid" style="width:100%;height: 100%">
         <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="idAnnotationSet" hidden="true"></th>
                <th field="name" width="200">AnnotationSet</th>
            </tr>
        </thead>
    </table>
</div>

<div id="dlgCxn" title="Add Construction" style="width:280px;height:200px;padding:0px">
    <table id="cxnGrid" style="width:100%;height: 100%" >
         <thead>
            <tr>
                <th field="idConstruction" hidden="true"></th>
                <th field="name" width="200">Construction</th>
            </tr>
        </thead>
    </table>
</div>
{{/if}}

<script type="text/javascript">
    $(function () {


        annotation.e = null;
        $(document).on('keydown', function(e) {
            annotation.e = e;
        });
        $(document).on('keyup', function(e) {
            annotation.e = null;
        });

        annotation.coreIcon = {"cty_core": "fa-icon fa fa-circle", "cty_peripheral": "fa-icon fa fa-dot-circle-o", "cty_extra-thematic": "fa-icon fa fa-circle-o"};

        annotation.idSentence = {{$data->idSentence}};
        annotation.idAnnotationSet = {{$data->idAnnotationSet}};
        annotation.words = JSON.parse({{$data->layers['words']}});
        annotation.chars = JSON.parse({{$data->layers['chars']}});
        annotation.annotationSets = JSON.parse({{$data->layers['annotationSets']}});
        annotation.layers = JSON.parse({{$data->layers['layers']}});
        annotation.labels = JSON.parse({{$data->layers['labels']}});
        annotation.labelTypes = JSON.parse({{$data->layers['labelTypes']}});
        annotation.nis = JSON.parse({{$data->layers['nis']}});
        //annotation.niFields = JSON.parse({{$data->layers['niFields']}});
        annotation.data = JSON.parse({{$data->layers['data']}});

        console.log(annotation.layers);
        console.log(annotation.labelTypes);

        annotation.currentSelection = {
            rowIndex: -1,
            fields: {}
        }

        annotation.rows = {};

        annotation.styleSelected = function (jq) {
            jq.css('background-color','#CCC').css('color','black');
        }

        annotation.rowStyler = function(index,row){
            //console.log('refreshing row ' + index);
            if (!row.show) {
                return 'display:none';
            }
            if (row.idLayerType == 0){
                return {class:'layerTarget'};
            } else {
                return {class:'layerSelected'};
            }
	}

        annotation.onSelect = function (rowIndex, rowData) {
        }

        annotation.onClickCell = function (rowIndex, field, value) {
            var rows=$('#layers').datagrid("getRows");
            var row = rows[rowIndex];
            if (row.idLayerType == 0){
                return;
            }
            if (row.layerTypeEntry.substr(0,8) == 'lty_cefe'){
                return;
            }
            if (field == 'ni') {
                annotation.clearSelection(annotation.currentSelection.rowIndex);
                console.log(annotation.layerType[row.idLayerType]);
                if (annotation.layerType[row.idLayerType]['entry'] == 'lty_fe') {
                    annotation.currentSelection.rowIndex = rowIndex;
                    var comboEditor = {
                        type:'combobox',
                        options:{
                            valueField:'idInstantiationType',
                            textField:'instantiationType',
                            data: annotation.instantiationType
                        }
                    };
                    var labels = annotation.labelTypes[row.idLayer];
                    var fes = []; var i = 0;
                    for (idLabel in labels) {
                        if (labels[idLabel]['coreType'] == 'cty_core') {
                            console.log(idLabel);
                            var value = '';
                            if (typeof annotation.nis[row.idLayer] != 'undefined') {
                                if (typeof annotation.nis[row.idLayer][idLabel] != 'undefined') {
                                    value = annotation.nis[row.idLayer][idLabel]['idInstantiationType'];
                                }
                            }
                            fes[i++] = {idLayer: row.idLayer, idLayerType:row.idLayerType, name:idLabel, value:value, editor:comboEditor};
                        }
                    }
                    $('#pg').propertygrid({data: fes});
                    $('#pg').propertygrid({
	                    columns:[[
                                {
                                    field:'name', width:200, title:'Element',
			            styler: annotation.cellStyler,
			            formatter: annotation.cellFormatter
                                },
                                {
                                    field: 'value', width:70, title: 'IT',
                                    formatter: function(value,row,index){
                                        var r = '';
                                        jQuery.each(annotation.instantiationType, function (i, it) {
                                            if (value == it.idInstantiationType) {
                                                r = it.instantiationType;
                                            }
                                        });
                                        return r;
                                    }
                                }
	                    ]]
                    });
                    $('#dlgNI').dialog('doLayout');
                    $('#dlgNI').dialog('open');
                }
                return;
            } else {
                if (annotation.chars[field]['char'] == ' ') {
                    return;
                }
                var shift = false;
                console.log(annotation.e);
                if (annotation.e) {
                    shift = (annotation.e.which == 16);
                }
                if (!shift) {
                    annotation.clearSelection(annotation.currentSelection.rowIndex);
                }
                annotation.markSelection(rowIndex, field);
                document.getSelection().removeAllRanges();
            }
        }

        annotation.dlgNIClose = function() {
            console.log('NI onClose');
            var nis = {};
            var rows=$('#pg').propertygrid("getRows");
            var idLayer = 0;
            //console.log(rows);
            for(index in rows) {
                var row = rows[index];
                idLayer = row.idLayer;
                //console.log(row);
                if ((row.value !== '') && (row.value != '0')) {
                    //console.log('[' + row.value + ']');
                    //console.log(row.name);
                    var idLabel = row.name;
                    //console.log(idLabel);
                    //console.log(annotation.labelTypes[row.idLayer][idLabel]);
                    nis[row.idLayer] = nis[row.idLayer] || {};
                    nis[row.idLayer][idLabel] = {
                        fe: annotation.labelTypes[row.idLayer][idLabel]['label'],
                        idInstantiationType: row.value,
                        label: annotation.instantiationTypeObj[row.value],
                        //idSentenceWord:  annotation.niFields[row.idLayer].substr(2),
                        idColor: annotation.labelTypes[row.idLayer][idLabel]['idColor']
                    };
                }
            }
            console.log(nis);
            var rowIndex = annotation.currentSelection.rowIndex;
            console.log('rowIndex = ' + rowIndex);

            $('#layers').datagrid('beginEdit', rowIndex);
            annotation.nis = nis;
            $('#layers').datagrid('getRows')[rowIndex]['ni'] = '';
            $('#layers').datagrid('endEdit', rowIndex);
            $('#layers').datagrid('autoSizeColumn','ni');
        }

        annotation.onRowContextMenu = function(e, rowIndex, rowData) {
            console.log('onRowContextMenu ' + rowIndex);
            e.preventDefault();
            var rows=$('#layers').datagrid("getRows");
            var row = rows[rowIndex];
            //if (annotation.layerType[row.idLayerType]['name'] == 'Target') {
            if (row.idLayerType == 0){
                annotation.createASMenu(rowIndex, rowData);
                annotation.ASMenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            } else if (annotation.currentSelection.rowIndex == rowIndex) {
                annotation.createContextMenu(rowIndex, rowData);
                annotation.contextMenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            }
        }

        annotation.onHeaderContextMenu = function(e, field){
            console.log('onHeaderContextMenu ' + field);
            e.preventDefault();
            annotation.createHeaderContextMenu(field);
            annotation.headerContextMenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        annotation.markSelection = function(rowIndex, field) {

            if (annotation.currentSelection.rowIndex > 0 ) {
                if (rowIndex != annotation.currentSelection.rowIndex) {
                    annotation.clearSelection(annotation.currentSelection.rowIndex);
                }
            }
            console.log(rowIndex);
            console.log(field);
            var rows = $('#layers').datagrid('getRows');
            var row = rows[rowIndex];
            console.log(row);

            var columns = $('#layers').datagrid('getColumnFields');
            var start = end = -1;
            // se já tiver anotação nesta camada na coluna escolhida, usa os limites da anotação
            var idLabel = row[field];
            if (idLabel) {
                pstart = pend = parseInt(field.substr(2,5));
                while (row['wf' + pstart] == idLabel) {
                    start = pstart--;
                }
                while (row['wf' + pend] == idLabel) {
                    end = pend++;
                }
            }

            if (start == -1) {
                // se já tiver anotação na camada FE na coluna escolhida, usa os limites do FE
                if (row.idLayerType != 1) {
                    for (r in rows) {
                        var tempRow = rows[r];
                        if (tempRow.idLayerType == 1) {
                            var idLabel = tempRow[field];
                            if (idLabel) {
                                console.log(tempRow);
                                pstart = pend = parseInt(field.substr(2,5));
                                while (tempRow['wf' + pstart] == idLabel) {
                                    start = pstart--;
                                }
                                while (tempRow['wf' + pend] == idLabel) {
                                    end = pend++;
                                }
                            }
                        }
                    }
                }
            }

            if (start == -1) {
                // se não existe anotação nesta camada na coluna escolhida, usa os limites da palavra correspondente à coluna
                for (var column = 0; column < columns.length; column++) {
                    var f = columns[column];
                    if ((annotation.currentSelection.fields[f]) || (f == field)) {
                        var word = annotation.words[annotation.chars[f]['word']];
                        if (start == -1) {
                            start = word['startChar'];
                            end = word['endChar'];
                        }
                        if (f == field) {
                            end = word['endChar'];
                        }
                    }
                }
            }
            if (start > -1) {
                annotation.clearSelection(rowIndex);
                for (var i = start; i <= end; i++) {
                    var f = 'wf' + i;//columns[i];
                    $( "tr[datagrid-row-index|='" + rowIndex +  "'] > td[field=" + f + "]" ).addClass( "cellSelected" );
                    annotation.currentSelection.fields[f] = true;
                }
            }
            annotation.currentSelection.rowIndex = rowIndex;
        }

        annotation.clearSelection = function(rowIndex) {
            $( "tr[datagrid-row-index|='" + rowIndex +  "'] > td").removeClass( "cellSelected" );
            annotation.currentSelection.rowIndex = -1;
            annotation.currentSelection.fields = {};
        }

        annotation.getDataToPost = function() {
            var data = [];
            var i = 0;
            var rows = $('#layers').datagrid('getRows');
            for (r in rows) {
                var row = rows[r];
                var line = {};
                line['ni'] = {};
                for (field in row) {
                    if (field == 'ni') {
                        if (annotation.nis[row['idLayer']]) {
                            line['ni'][row['idLayer']] = {};
                            for (idLabel in annotation.nis[row['idLayer']]) {
                                line['ni'][row['idLayer']][idLabel] = {
                                    idInstantiationType: annotation.nis[row['idLayer']][idLabel]['idInstantiationType'],
                                    idSentenceWord: annotation.nis[row['idLayer']][idLabel]['idSentenceWord']
                                };
                            }
                        }
                    }
                    else {
                        line[field] = row[field];
                    }
                }
                data[i++] = line;
            }
            console.log(data);
            return JSON.stringify(data);
        }

        annotation.toolbar = [
{{if ($data->canSave)}}
            {
                text:'Save',
                iconCls:'fa fa-folder-o fa16px',
                handler: function(){
                    var data = annotation.getDataToPost();
                    $('#dataLayers').val(data);
                    manager.doPostBack('formLayers');
                }
            },
{{/if}}
            {
                text:'Doubt',
                iconCls:'fa fa-frown-o fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('-1');
                    manager.doPostBack('formValidation');
                }
            },
            {
                text:'Ignore',
                iconCls:'fa fa-ban fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('-2');
                    manager.doPostBack('formValidation');
                }
            }
        ];

        annotation.toolbarSenior = [
            {
                text:'Save',
                iconCls:'fa fa-folder-o fa16px',
                handler: function(){
                    var data = annotation.getDataToPost();
                    $('#dataLayers').val(data);
                    manager.doPostBack('formLayers');
                }
            },
            {
                text:'Approve',
                iconCls:'fa fa-thumbs-o-up fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('1');
                    manager.doPostBack('formValidation');
                }
            },
            {
                text:'Disapprove',
                iconCls:'fa fa-thumbs-o-down fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('0');
                    //manager.doPostBack('formValidation');
                    annotation.dlgValidationOpen();
                }
            },
            {
                text:'Ignore',
                iconCls:'fa fa-ban fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('-2');
                    manager.doPostBack('formValidation');
                }
            }
        ];

    annotation.toolbarMaster = [
            {
                text:'Save',
                iconCls:'fa fa-folder-o fa16px',
                handler: function(){
                    var data = annotation.getDataToPost();
                    $('#dataLayers').val(data);
                    manager.doPostBack('formLayers');
                }
            },
            {
                text:'Approve',
                iconCls:'fa fa-thumbs-o-up fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('1');
                    manager.doPostBack('formValidation');
                }
            },
            {
                text:'Disapprove',
                iconCls:'fa fa-thumbs-o-down fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('0');
                    //manager.doPostBack('formValidation');
                    annotation.dlgValidationOpen();
                }
            },
            {
                text:'Ignore',
                iconCls:'fa fa-ban fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('-2');
                    manager.doPostBack('formValidation');
                }
            },
            {
                text:'Release',
                iconCls:'fa fa-unlock fa16px',
                handler: function(){
                    var data = JSON.stringify(annotation.annotationSets);
                    $('#annotationSets').val(data);
                    $('#validation').val('-3');
                    manager.doPostBack('formValidation');
                }
            },
            {
                text:'Hide AS',
                iconCls:'fa fa-minus-square-o fa16px',
                handler: function(){
                    annotation.dlgASOpen();
                }
            },
            {
                text:'Add Cxn',
                iconCls:'fa fa-plus-square-o fa16px',
                handler: function(){
                    annotation.dlgCxnOpen();
                }
            }
        ];

        annotation.dlgASOpen = function() {
            var data = [];
            var i = 0;
            for (as in annotation.annotationSets) {
                data[i++] = annotation.annotationSets[as];
            }
            $('#asGrid').datagrid({data: data});
            var rows = $('#asGrid').datagrid('getRows');
            for (r in rows) {
                if (!annotation.annotationSets[rows[r].idAnnotationSet].show) {
                    $('#asGrid').datagrid('checkRow', r);
                }
            }
            $('#dlgAS').dialog('doLayout');
            $('#dlgAS').dialog('open');
        }

        annotation.dlgASClose = function() {
            for (as in annotation.annotationSets) {
                annotation.annotationSets[as].show = true;
            }
            var rowsChecked = $('#asGrid').datagrid('getChecked');
            for (c in rowsChecked) {
                var idAnnotationSet = rowsChecked[c].idAnnotationSet;
                annotation.annotationSets[idAnnotationSet].show = false;
            }
            var rows = $('#layers').datagrid('getRows');
            for (r in rows) {
                rows[r].show = annotation.annotationSets[rows[r].idAnnotationSet].show;
                $('#layers').datagrid('refreshRow', r);
            }
        }

        annotation.dlgCxnOpen = function() {
            $('#cxnGrid').datagrid({singleSelect:true, url: {{$manager->getURL('fnbr20/annotation/main/cxnGridData')}}});
            $('#dlgCxn').dialog('doLayout');
            $('#dlgCxn').dialog('open');
        }

        annotation.dlgCxnClose = function() {
            var selected = $('#cxnGrid').datagrid('getSelected');
            console.log(selected);
            $.ajax({
                type: "POST",
                url: {{$manager->getURL('fnbr20/annotation/main/addManualSubcorpus')}},
                data: {idConstruction: selected.idConstruction, idSentence: annotation.idSentence},
                dataType: "json",
                async: false,
            });
            $('#layersPane').html('');
            manager.doGet({{$manager->getURL('fnbr20/annotation/main/layers')}} + '/' + annotation.idSentence + '/' + annotation.idAnnotationSet, 'layersPane');
        }

        annotation.dlgValidationOpen = function() {
            $('#dlgValidation').dialog('doLayout');
            $('#dlgValidation').dialog('open');
        }

        annotation.cellFormatter = function (value,row,index) {
            if (this.field == 'name') {
                if ((typeof annotation.layers[row.idLayer] != 'undefined') ) {
                    return annotation.labelTypes[row.idLayer][value]['label'];
                }
            }
            if (this.field == 'wf0') {
                if ((typeof annotation.layers[row.idLayer] != 'undefined') ) {
                    annotation.layers[row.idLayer]['currentLabel'] = 0;
                }
            }
            var text = (typeof value != 'undefined') ? value : '';
            if (text != '') {
                if (row.idLayerType != 0){
                    var pos = 0;
                    var label = annotation.labelTypes[row.idLayer][text]['label'];
                    if (text != annotation.layers[row.idLayer]['currentLabel']) {
                        annotation.layers[row.idLayer]['currentLabel'] = text;
                        pos = annotation.layers[row.idLayer]['currentLabelPos'] = 0;
                    } else {
                        pos = ++annotation.layers[row.idLayer]['currentLabelPos'];
                    }
                    text = label.charAt(pos);
                }
            } else {
                if ((typeof annotation.layers[row.idLayer] != 'undefined') ) {
                    if (annotation.layers[row.idLayer]['currentLabelPos'] > 0) {
                        annotation.layers[row.idLayer]['currentLabel'] = 0;
                        annotation.layers[row.idLayer]['currentLabelPos'] = 0;
                    }
                }
            }
            return text;
        }

        annotation.cellLayerFormatter = function (value,row,index) {
            var text = value;
            if (row.idLayerType == 0){
                text = annotation.annotationSets[row.idAnnotationSet]['name'];
            }
            return text;
        }

        annotation.cellNIFormatter = function (value,row,index) {
            var text = '';
            var i = 0;
            var nis = annotation.nis[row.idLayer];
            if (nis) {
                jQuery.each(nis, function(idLabel, ni) {
                    var color = annotation.rgbColors[ni.idColor];
                    var style = 'background-color:#' + color.rgbBg + ';color:#'+ color.rgbFg + ';';
                    text = text + "<div class='easyui-tooltip divNI' title='" + ni.fe + "' style='" + style + "'>" + ni.label + "</div>";
                    i++;
                });
            }
            var width = i * 30;
            return "<div style='width:" + width + "px'>" + text + "</div>";
        }

        annotation.cellStyler = function (value,row,index) {
            var style = '';
            if ((typeof value != 'undefined') && (value != '')) {
                var idLabelType;
                if (row.idLayerType == 0){
                    idLabelType = Object.keys(annotation.labelTypes[row.idLayer])[0];
                } else {
                    idLabelType = value;
                }
                var idColor = annotation.labelTypes[row.idLayer][idLabelType]['idColor'];
                var color = annotation.rgbColors[idColor];
                var style = 'background-color:#' + color.rgbBg + ';color:#'+ color.rgbFg + ';';
            }
            return style;
        }

        annotation.contextMenu = null;
        annotation.createContextMenu = function (rowIndex, rowData) {
            console.log('createContextMenu ' + rowIndex);
            var menu = 'menu' + rowIndex;
            $menu = $('#' + menu);
            console.log($menu);
            if ($menu.length == 0) {
                $("<div id='" + menu + "'/>").appendTo('body');
                $menu = $('#' + menu);
            } else {
                $menu.html('');
            }
            annotation.contextMenu = $menu;
            annotation.contextMenu.menu({
                onClick: function(item){
                    var selection = annotation.currentSelection;
                    $('#layers').datagrid('beginEdit', selection.rowIndex);
                    var value = (item.id == 'clear') ? '' : item.id;
                    var i = 0; var wf = ''; var word = {};
                    for (field in selection.fields) {
                        $('#layers').datagrid('getRows')[selection.rowIndex][field] = value;
                    }
                    $('#layers').datagrid('endEdit', selection.rowIndex);
                    annotation.clearSelection(selection.rowIndex);
                }
            });
            annotation.contextMenu.menu('appendItem', {
                id: 'clear',
                text: {{_'Clear'}},
                name: 'Clear',
                iconCls: 'fa fa-undo'
            });
            var idLayer = rowData['idLayer'];
            console.log('idLayer = ' + idLayer);
            var labels = annotation.labelTypes[idLayer];
            for(idLabelType in labels){
            //console.log(label);
                var labelType = annotation.labelTypes[idLayer][idLabelType];
                var color = annotation.rgbColors[labelType['idColor']];
                var style = 'background-color:#' + color.rgbBg + ';color:#'+ color.rgbFg + ';';
                var text = "<div style='" + style + "'>" + labelType['label'] + "</div>";
                var icon = labelType['coreType'] == '' ? 'fa fa-caret-right' : annotation.coreIcon[labelType['coreType']];
                annotation.contextMenu.menu('appendItem', {
                    id: idLabelType,
                    text: text,
                    name: labelType['label'],
                    iconCls: icon
                });
            }
        }

        annotation.headerContextMenu = null;
        annotation.createHeaderContextMenu = function (field) {
            console.log('createHeaderContextMenu ' + field);
            var menu = 'menu' + field;
            $menu = $('#' + menu);
            console.log($menu);
            if ($menu.length == 0) {
                $("<div id='" + menu + "'/>").appendTo('body');
                $menu = $('#' + menu);
            } else {
                $menu.html('');
            }
            annotation.headerContextMenu = $menu;
            annotation.headerContextMenu.menu({
                onClick: function(item){
                    console.log(item);
                    if (item.id > 0) {
                        console.log(item);
                        var wf = annotation.words[annotation.chars[item.name]['word']];
                        console.log(wf);
                        $.ajax({
                            type: "POST",
                            url: {{$manager->getURL('fnbr20/annotation/main/addManualSubcorpus')}},
                            data: {idLU: item.id, idSentence: annotation.idSentence, startChar: wf.startChar, endChar: wf.endChar},
                            dataType: "json",
                            async: false,
                        });
                        $('#layersPane').html('');
                        manager.doGet({{$manager->getURL('fnbr20/annotation/main/layers')}} + '/' + annotation.idSentence+ '/' + annotation.idAnnotationSet, 'layersPane');
                    }
                }
            });
            var wf = annotation.words[annotation.chars[field]['word']];
            $.ajax({
                type: "POST",
                url: {{$manager->getURL('fnbr20/annotation/main/headerMenu')}},
                data: {wordform: wf.word},
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    console.log('success');
                    if (jQuery.isEmptyObject(data)) {
                        annotation.headerContextMenu.menu('appendItem', {
                            id: 0,
                            text: '** No matching lemma **',
                            name: '0',
                            iconCls: 'fa fa-caret-right'
                        });
                    } else {
                        for (item in data) {
                            annotation.headerContextMenu.menu('appendItem', {
                                id: item,
                                text: data[item],
                                name: field,
                                iconCls: 'fa fa-caret-right'
                            });
                        }
                    }
                },
            });
        }

        annotation.ASMenu = null;
        annotation.createASMenu = function (rowIndex, rowData) {
            console.log('createASMenu ' + rowIndex);
            var menu = 'menu' + rowData['idLayer'];
            $menu = $('#' + menu);
            console.log($menu);
            if ($menu.length == 0) {
                $("<div id='" + menu + "'/>").appendTo('body');
                $menu = $('#' + menu);
            } else {
                $menu.html('');
            }
            annotation.ASMenu = $menu;
            annotation.ASMenu.menu({
                onClick: function(item){
                    console.log(item);
                    var data = {idAnnotationSet: item.name, idSentence: annotation.idSentence};
                    if (item.id == 'addFE') {
                        $.ajax({type: "POST", url: {{$manager->getURL('fnbr20/annotation/main/addFELayer')}}, data: data, dataType: "json"});
                        $.ajax({type: "POST", url: {{$manager->getURL('fnbr20/annotation/main/getFELabels')}}, data: data, dataType: "json",
                            success: function (data) {
                                for (item in data) {
                                    if (annotation.labelTypes[item] === undefined) {
                                        annotation.labelTypes[item] = data[item];
                                    }
                                }
                            }
                        });
                    } else if (item.id == 'delFE') {
                        $.ajax({type: "POST", url: {{$manager->getURL('fnbr20/annotation/main/delFELayer')}}, data: data, dataType: "json"});
                    }
                    $('#layers').datagrid('reload');
                }
            });
            annotation.ASMenu.menu('appendItem', {
                id: 'addFE',
                text: 'Add FE Layer',
                name: rowData['idAnnotationSet'],
                iconCls: 'fa fa-caret-right'
            });
            annotation.ASMenu.menu('appendItem', {
                id: 'delFE',
                text: 'Delete Last FE Layer',
                name: rowData['idAnnotationSet'],
                iconCls: 'fa fa-caret-right'
            });
        }

        // datagrid
        var frozenColumns = [
            {{foreach $data->layers['frozenColumns'] as $column}}
                {field:{{$column['field']}}, title:{{$column['title']}} {{if $column['formatter'] != ''}},formatter:{{$column['formatter']|noescape}} {{/if}} }
                {{sep}},{{/sep}}
            {{/foreach}}
        ];
        var columns = [
            {{foreach $data->layers['columns'] as $column}}
                {field:{{$column['field']}},title:{{$column['title']}},hidden:{{$column['hidden']|noescape}}
                    {{if $column['formatter'] != ''}},formatter:{{$column['formatter']|noescape}} {{/if}}
                    {{if $column['styler'] != ''}},styler:{{$column['styler']|noescape}} {{/if}}
                    {{if $column['resizable'] != ''}},resizable:{{$column['resizable']|noescape}} {{/if}}
                    {{if $column['width'] != ''}},width:{{$column['width']|noescape}} {{/if}}
                }
                {{sep}},{{/sep}}
            {{/foreach}}
        ];
        $('#layers').datagrid({
            url:{{$manager->getURL('fnbr20/annotation/main/layersData')}} + "/" + {{$data->idSentence}} + "/" + {{$data->idAnnotationSet}},
            method:'get',
            collapsible:true,
            fitColumns: false,
            autoRowHeight: false,
            nowrap: true,
            rowStyler: annotation.rowStyler,
            onSelect: annotation.onSelect,
            onClickCell: annotation.onClickCell,
            onRowContextMenu: annotation.onRowContextMenu,
            onHeaderContextMenu: annotation.onHeaderContextMenu,
            toolbar: annotation.isMaster ? annotation.toolbarMaster : (annotation.isSenior ? annotation.toolbarSenior : annotation.toolbar),
            frozenColumns: [frozenColumns],
            columns: [columns]
        });

        $('#dlgNI').dialog({
            modal:true,
            closed:true,
            onClose:annotation.dlgNIClose
        });
        $('#pg').propertygrid({
            showGroup:false,
            scrollbarSize:18
        });

        $('#dlgAS').dialog({
            modal:true,
            closed:true,
            onClose:annotation.dlgASClose,
            idField:'idAnnotationSet'
        });

        $('#dlgValidation').dialog({
            modal:true,
            closed:true,
	    toolbar:[{
		text:'Send',
		iconCls:'fa fa-envelope-o fa16px',
		handler: function(){
                    manager.doPostBack('formValidation');
                    $('#dlgValidation').dialog('close');
                }
	    }],
            onClose: function() {
                //$('#dlgValidation').dialog('destroy', true);
            }
        });

        $('#asGrid').datagrid({
            scrollbarSize:18
        });

        $('#dlgCxn').dialog({
            modal:true,
            closed:true,
            onClose:annotation.dlgCxnClose,
            idField:'idConstruction'
        });

        $('#cxnGrid').datagrid({
            scrollbarSize:18
        });

        $('#feedback').textbox({
            multiline:true,
            width: 250,
            height: 100
        });

    });
</script>