.mStdOut
{
  color:red;
  font-weight:700;
  z-index:100;
  position:absolute;
  top:0;
  background-color:#FF0
}

html
{
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0
}

.mThemeBody
{
  font-size:.7em;
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0
}

#appLayout
{
  height:100%
}

#leftPane
{
  width:14em
}

#topPane
{
  height:55px;
  border:0;
  margin:0;
  padding:0
}

#centerPane
{
  width:100%;
  background:#FFF;
  text-align:left;
  height:100%;
  overflow:auto;
  padding:8px
}

#elementLogo
{
  width:250px;
  height:55px;
  background-image:url(manager/images/logo_50px.png);
  background-repeat:no-repeat;
  background-position:0 0;
  margin-left:5px;
  float:left
}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
    padding:0;
    margin:0;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:white;
    z-index:999;
    vertical-align:middle;
}
#loaderInner {
    padding:5px;
    position:relative;
    left:0;
    top:0;
    width:175px;
    background:#3c3;
    color:#fff;
}
